.buttons{
    margin-left:1em;
    margin-right:1em;
    margin-top:20px;
}
.dialog{
    background-color:#ccc;
    height:175px;
    width:100%;
    margin-top:10px;
    padding-top:45px;
    text-align:center;
}
.dialog span{
    font-size:6em;
    font-weight:bold;
}
.modal{
    position:fixed;
    width:100%;
    height:100%;
    opacity:0;
    display:none;
    z-index:1000;
    top: 0;
}
.msg{
    position:fixed;
    top:30%;
    text-align:center;
    width:50%;
    left:25%;
    margin:auto;
    background-color:#cba;
    font-size:3em;
    color:red;
    display:none;
}
